@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Montserrat:wght@700&family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
}

body {
    margin: 0 auto;
}

header {
    margin: 1.25em 0 0 1.5em;
}

header h1 {
    font-family: 'Inconsolata', sans-serif;
    font-size: 1.5em;
    letter-spacing: -3px;
}

main {
    display: flex;
    flex-direction: column;
}

main img {
    margin: 4em auto 3.75em auto;
    width: 80%;
}

main div {
    margin-left: 1.5em;
}

main div h2 {
    font-family: 'Space Mono', sans-serif;
    color: #333333;
    font-size: 3em;
    letter-spacing: -2px;
}

main div h3 {
    font-family: 'Space Mono', sans-serif;
    color: #4F4F4F;
    font-weight: 400;
    margin: 1.875em 0 4.125em 0;
    font-size: 1.125em;
}

main div a {
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    color: #FFF;
    background-color: #333333;
    padding: 1.5em 2.6875em;
}

footer {
    position: fixed;
    bottom: 1.5em;
    left: 2.5em;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    font-size: 0.875em;
    font-weight: 500;
}

footer p a {
    color: #9e9e9e;
    font-weight: 700;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}